@using Model.ViewModels.identity
@model LoginViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutIdentity.cshtml";
}
<div class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="login-logo">
            <a href="~/admin"><b>JOLGE</b>Devs</a>
        </div>

        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">ورود به پنل مدیریتی <b>پردیس بتن</b>.</p>

                <form action="/admin/Login/index" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="ایمیل" asp-for="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                          
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <div class="input-group mt-3">
                        <input type="password" class="form-control" placeholder="گذرواژه" asp-for="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                          
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <div class="row mt-3">
                        <div class="col-4">
                            @* <div class="icheck-primary">
                            <input type="checkbox" id="remember">
                            <label for="remember">
                            Remember Me
                            </label>
                            </div> *@
                        </div>
                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-lock"></i> ورود امن</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</div>

