@using Model.ViewModels.Project

@model ProjectCollectionViewModel

@{
    var currentModel = Model.Projects;
}


@foreach (var item in currentModel)
{
    <div class="col-md-4 project-item mb-4">
        <div class="card">
            <img src="~/@item.ImagePath" alt="@item.Name" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Summary</p>
                <a href="/projects/details/@item.ProjectId/@item.Name" class="cta-btn btn-solid">اطلاعات بیشتر</a>
            </div>
        </div>
    </div>

}