@using Model.ViewModels.About

@model PersonnelViewModel


@{
    ViewData["Title"] = "ویرایش پرسنل";
}

@section Head {



}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">مدیریت پرسنل</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/admin">خانه</a></li>
                    <li class="breadcrumb-item"><a href="/admin/adminabout/personnel">مدیریت پرسنل</a></li>
                    <li class="breadcrumb-item active">ویرایش پرسنل</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card card-outline card-warning">
                    <div class="card-header">
                        <h3 class="card-title">
                            ویرایش اطلاعات پرسنل

                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form asp-area="admin" asp-controller="adminabout" asp-action="EditPersonnel" enctype="multipart/form-data">
                            <input type="hidden" asp-for="Sex" id="sex"/>
                            <input type="hidden" asp-for="PersonnelId" />
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sexRadioOptions" id="maleRadio" value="آقای">
                                        <label class="form-check-label" for="maleRadio">آقا</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sexRadioOptions" id="femaleRadio" value="خانم">
                                        <label class="form-check-label" for="femaleRadio">خانم</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label asp-for="Name" class="control-label">نام <span class="text-danger">*</span></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger" />
                                </div>
                                <div class="col-md-6 mt-2 mt-md-0">
                                    <label asp-for="Family" class="control-label">نام خانوادگی <span class="text-danger">*</span></label>
                                    <input asp-for="Family" class="form-control" />
                                    <span asp-validation-for="Family" class="text-danger" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label asp-for="Nickname" class="control-label">نام مستعار</label>
                                    <input asp-for="Nickname" class="form-control" />
                                </div>
                                <div class="col-md-6 mt-2 mt-md-0">
                                    <label asp-for="Position" class="control-label">سمت </label>
                                    <input asp-for="Position" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label asp-for="ImageFile" class="control-label">تصویر</label>
                                    <input asp-for="ImageFile" type="file" class="form-control" />
                                </div>
                            </div>



                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label asp-for="Description" class="control-label">توضیحات (بیوگرافی)</label>
                                    <textarea asp-for="Description" class="form-control" id="description"></textarea>
                                    <!-- Include the modal partial view -->
                                    @Html.Partial("_BootstrapGridModal")

                                </div>
                            </div>



                            <div class="form-group">
                                <input type="submit" value="ذخیره تغییرات" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>



            </div>

            <div class="col-md-4">
                <div class="card card-outline card-warning">
                    <div class="card-header">
                        <h3 class="card-title">
                            تصویر شخص

                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 p-3">
                                <img class="img-fluid" src="~/@Model.ImagePath" alt="thumb" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>




    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }



    <script>
        $(document).ready(function () {
            if ($('#sex').val() == 'آقای') {
                $('#maleRadio').prop('checked', true);
            }
            else {
                $('#femaleRadio').prop('checked', true);
            }
        });

        $('#maleRadio').click(function () {
            $('#sex').val($(this).val());
        })
        $('#femaleRadio').click(function () {
            $('#sex').val($(this).val());
        })



        $(document).ready(function () {
            // Initialize the Summernote editor with a specific ID and upload URL
            initializeSummernote('#description', '/admin/adminabout/UploadImagePersonnel');
            // Setup modal handlers with the same ID
            setupGridModalHandlers('#description');


        });

    </script>
}
