@using Model.ViewModels.Post

@model PostViewModel


@{
    ViewData["Title"] = "ویرایش پست";
}

@section Head {



}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">مدیریت نشریه</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/admin">خانه</a></li>
                    <li class="breadcrumb-item"><a href="/admin/adminpost">مدیریت نشریه</a></li>
                    <li class="breadcrumb-item active">ویرایش پست</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card card-outline card-warning">
                    <div class="card-header">
                        <h3 class="card-title">
                            ویرایش پست

                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form asp-area="admin" asp-controller="adminpost" asp-action="edit" enctype="multipart/form-data">
                            <input type="hidden" asp-for="Active" value="true" />
                            <input type="hidden" asp-for="PostId" />

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label asp-for="PostCategoryId" class="control-label">دسته بندی <span class="text-danger">*</span></label>
                                    <select asp-for="PostCategoryId" asp-items="Model.Categories" class="form-control"></select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label asp-for="Title" class="control-label">عنوان پست <span class="text-danger">*</span></label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label asp-for="ImageFile" class="control-label">تصویر <span class="text-danger">*</span></label>
                                    <input asp-for="ImageFile" type="file" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label asp-for="Summary" class="control-label">شرح خلاصه</label>
                                    <textarea asp-for="Summary" type="text" class="form-control" rows="3"> </textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label asp-for="Description" class="control-label">شرح کامل</label>
                                    <textarea asp-for="Description" class="form-control" id="description"></textarea>
                                    <!-- Include the modal partial view -->
                                    @Html.Partial("_BootstrapGridModal")

                                </div>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="ذخیره" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>



            </div>

            <div class="col-md-4">
                <div class="card card-outline card-warning">
                    <div class="card-header">
                        <h3 class="card-title">
                            تصویر اصلی پست

                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 p-3">
                                <img class="img-fluid" src="~/@Model.ImagePath" alt="thumb" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }



    <script>




        $(document).ready(function () {
            // Initialize the Summernote editor with a specific ID and upload URL
            initializeSummernote('#description', '/admin/adminpost/UploadImage');
            // Setup modal handlers with the same ID
            setupGridModalHandlers('#description');


        });

    </script>
}
